<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.537106447777-jf5858bppk39fjps5dtec514ku0t9ght</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show your position on the map.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location even when the app is in the background.</string>
	<key>GIDClientID</key>
	<string>537106447777-jf5858bppk39fjps5dtec514ku0t9ght.apps.googleusercontent.com</string>
</dict>
</plist>
